@import "node_modules/tailwindcss/index.css";

.card {
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px;
  width: 25vw;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.card .card-image {
  max-width: 60%;
  margin: 10px;
}

.card .card-text {
  color: white;
}